@import "common.css";

@mixin w100($wid:100%){
    width:$wid;
}
@mixin after($af){
    &:after{
        content:'';
        display:inline-block;
        width:100%;
        height:100%;
        background-color:#000;
        position:absolute;
        left:0;
        top:0;
    }
}
// @each $item in (h1: 2em, h2: 1.5em, h3: 1.2em) {
//     #{nth($item, 1)} {
//       font-size: nth($item, 2);
//     }
//   }
body{
    overflow-x:hidden;
    overflow-y:hidden;
}
#total{
    @include w100;
    position:relative;
    overflow:hidden;
}

$layout: header, section, footer;
@each $wrap in $layout{
    #{$wrap}{
        @include w100;
    }
}

header{
    position:absolute;
    z-index:10;
    & div{
        padding:2%;
    }
}
section{
     .visual{
        display:flex;
        position:relative;
        $divide: ('img:nth-of-type(1)', 'img:nth-of-type(2)');
            @each $divi in $divide{
                #{$divi}{
                position:relative;
                left:0;
                top:0;
                height:100%;
                @include w100($wid:50%);
            }
        }
        
        & img:nth-of-type(1).left{
            animation: aniPosition1 .5s linear forwards;
        }
        & img:nth-of-type(2).right{
            animation: aniPosition2 .5s linear forwards;
        }

        & figcaption{
            z-index:10;
            position:absolute;
            left:25%;
            top:35%;
            opacity:1;
            text-align:center;
            color:#fff;
            transition:.5s;
            & h1{
                font-size:4em;
                position:relative;
                opacity:0;
                margin-top:-5%;
                transition:.5s;
            }
            & h1.show{
                opacity:1;
                margin-top:0%;
                transition-delay:.5s;
            }
            & h1:after{
                content:'';
                display:inline-block;
                width:100%;
                height:2px;
                background-color:#ddd;
                position:absolute;
                left:0;
                bottom:-10px;
            }
            & p{
                white-space:pre-line;
                margin-top:150px;
                font-size:1rem;
                color:#ddd;
                opacity:0;
                transition:1s;
            }
            & p.show{
                opacity:1;
                margin-top:100px;
                transition-delay:1s;
            }
        }
     }
}

footer{
    position:absolute;
    left:0;
    bottom:0;
    text-align:center;
    & p{
       color:#ddd;
       position:relative;
       padding:2%;
       margin:0 auto;
    }
}

@keyframes aniPosition1{
    0%{
        transform:translateX(0%)
    }
    50%{
        transform:translateX(-50%)
    }
    100%{
        transform:translateX(-100%)
    }
}

@keyframes aniPosition2{
    0%{
        transform:translateX(0%)
    }
    50%{
        transform:translateX(+50%)
    }
    100%{
        transform:translateX(+100%)
    }
}