@import url(common.css);
#total {
  width: 100%;
  height: 100vh;
  overflow-X: hidden;
  overflow-Y: hidden; }

header {
  position: absolute;
  z-index: 10;
  height: 80%;
  padding: 2%; }
  header div:first-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%; }
  header .burger {
    position: relative;
    top: 35%;
    padding: 20%;
    opacity: 0;
    transition: 1.5s; }
    header .burger span {
      position: absolute;
      height: 2px;
      background-color: #fff;
      display: block; }
    header .burger span:nth-of-type(1) {
      width: 15px;
      top: 6px; }
    header .burger span:nth-of-type(2) {
      width: 20px;
      top: 12px; }
    header .burger span:nth-of-type(3) {
      width: 10px;
      top: 18px; }
  header .burger.active {
    opacity: 1; }
  header .burger.show {
    z-index: 20;
    top: 35%; }
    header .burger.show span:nth-of-type(1) {
      transform: translateY(7px) rotate(-45deg);
      width: 20px;
      transition: .5s; }
    header .burger.show span:nth-of-type(2) {
      opacity: 0;
      transition: .5s; }
    header .burger.show span:nth-of-type(3) {
      transform: translateY(-5px) rotate(45deg);
      width: 20px;
      transition: .5s; }
  header nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100vh;
    background-color: #000;
    opacity: 0.7;
    padding: 0;
    transition: .5s ease-in-out;
    overflow: hidden;
    opacity: 0; }
    header nav > ul {
      display: flex;
      position: absolute;
      left: 25%;
      top: 47%; }
      header nav > ul li {
        margin: 0 45% 0 0; }
        header nav > ul li a {
          color: #fff;
          font-size: 2em; }
      header nav > ul li:hover a {
        color: #f00;
        font-weight: 500; }
  header nav.block {
    display: block; }
  header nav.show {
    width: 100vw;
    opacity: 0.7; }

section {
  height: 100%; }
  section .container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative; }
    section .container .left_con {
      position: relative;
      width: 45%;
      height: 100%;
      background-color: #2c90d6;
      left: -50%;
      transition: .7s; }
      section .container .left_con strong {
        color: #fff; }
      section .container .left_con span {
        color: #fff; }
      section .container .left_con p {
        color: #fff; }
      section .container .left_con ul li {
        color: #fff; }
      section .container .left_con a {
        color: #fff; }
      section .container .left_con .left_text {
        position: absolute;
        left: 25%;
        top: 20%;
        padding: 2% 10% 0 0; }
        section .container .left_con .left_text strong {
          font-size: 3em;
          margin-top: 10px;
          opacity: 0; }
        section .container .left_con .left_text p {
          font-size: 1.5em;
          margin-top: 10px;
          opacity: 0; }
        section .container .left_con .left_text > span {
          line-height: 25px;
          margin-top: 60px;
          width: 80%;
          opacity: 0; }
        section .container .left_con .left_text ul {
          margin-top: 60px;
          opacity: 0; }
        section .container .left_con .left_text ul li {
          margin-top: 10px;
          line-height: 30px;
          opacity: 0; }
        section .container .left_con .left_text a {
          border: 1px solid #fff;
          padding: 2%;
          margin-top: 11%;
          opacity: 0; }
        section .container .left_con .left_text .controler {
          width: 100%;
          display: flex;
          justify-content: space-around;
          position: absolute;
          left: -10%;
          bottom: -20%; }
          section .container .left_con .left_text .controler > img {
            width: 3%;
            height: 5%;
            margin-top: 2%; }
          section .container .left_con .left_text .controler p {
            font-size: 1em;
            margin-top: 10px; }
          section .container .left_con .left_text .controler figure img {
            margin: 10px; }
          section .container .left_con .left_text .controler span {
            margin-top: 10px;
            opacity: 0;
            transition: .5s;
            position: absolute;
            right: -60px; }
          section .container .left_con .left_text .controler span.active {
            opacity: 1; }
    section .container .left_con.active {
      left: 0; }
      section .container .left_con.active .left_text strong {
        font-size: 3em;
        margin-top: 0;
        opacity: 1;
        transition: .5s;
        transition-delay: .5s; }
      section .container .left_con.active .left_text p {
        font-size: 1.5em;
        margin-top: 0;
        opacity: 1;
        transition: .5s;
        transition-delay: 1s; }
      section .container .left_con.active .left_text > span {
        line-height: 25px;
        margin-top: 50px;
        width: 80%;
        opacity: 1;
        transition: .5s;
        transition-delay: 1.5s; }
      section .container .left_con.active .left_text ul {
        margin-top: 50px;
        opacity: 1;
        transition: .5s;
        transition-delay: 2s; }
      section .container .left_con.active .left_text ul li {
        line-height: 30px;
        margin-top: 0;
        opacity: 1;
        transition: .5s;
        transition-delay: 2.5s; }
      section .container .left_con.active .left_text a {
        border: 1px solid #fff;
        padding: 2%;
        margin-top: 10%;
        opacity: 1;
        transition: .5s;
        transition-delay: 3s; }
    section .container .right_con {
      width: 55%;
      position: relative;
      right: -60%;
      transition: .5s;
      transition-delay: .2s;
      background: url("../img/project/mockbg.png") no-repeat;
      background-size: 100% 100%; }
      section .container .right_con .pc {
        position: absolute;
        left: 30%;
        top: 30%; }
      section .container .right_con .pad {
        position: absolute;
        left: 65%;
        top: 55%; }
      section .container .right_con .mobile {
        position: absolute;
        left: 26%;
        top: 62%; }
      section .container .right_con figure > img:nth-of-type(2) {
        z-index: 10; }
      section .container .right_con figure div {
        width: 46%;
        overflow: hidden; }
      section .container .right_con figure div:nth-of-type(1) {
        position: absolute;
        left: 31%;
        top: 31.7%; }
      section .container .right_con figure div:nth-of-type(2) {
        position: absolute;
        left: 66%;
        top: 56.2%; }
      section .container .right_con figure div:nth-of-type(3) {
        position: absolute;
        left: 26.3%;
        top: 63%; }
      section .container .right_con figure div img {
        margin-left: 0px;
        opacity: 1;
        transition: .5s; }
      section .container .right_con figure.active div img {
        opacity: 0;
        margin-left: 50px; }
    section .container .right_con.active {
      right: 0%; }
    section .container .pop_up {
      width: 90%;
      position: absolute;
      left: 8%;
      top: 16%;
      text-align: center;
      opacity: 1;
      transform: scale(0);
      padding: 0.2%;
      background-color: #fff; }
      section .container .pop_up figure {
        margin-top: 3%; }
        section .container .pop_up figure a {
          width: 30%;
          height: 280px; }
          section .container .pop_up figure a img {
            width: 100%;
            height: 100%; }
      section .container .pop_up .exit {
        margin-top: 0;
        position: absolute;
        right: 46%;
        top: -10%;
        width: 10%; }
        section .container .pop_up .exit span {
          width: 30px;
          height: 2px;
          background-color: #000;
          position: absolute; }
        section .container .pop_up .exit span:nth-of-type(1) {
          transform: rotate(-45deg) translateY(4px);
          top: 6px; }
        section .container .pop_up .exit span:nth-of-type(2) {
          transform: rotate(45deg) translateY(-4px);
          top: 12px; }
      section .container .pop_up .exit:hover span {
        background-color: #f00; }
    section .container .pop_up.active {
      display: block;
      opacity: 0; }
    section .container .pop_up.show {
      opacity: 1;
      transform: scale(1);
      transition: .5s; }

footer {
  position: absolute;
  left: 0;
  bottom: 30px;
  text-align: center;
  opacity: 0;
  padding-left: 0%;
  transition: 1s; }
  footer p {
    width: 100%;
    color: #ddd;
    position: relative;
    margin: 0 auto; }

footer.active {
  opacity: 1;
  padding-left: 11.5%; }

/*# sourceMappingURL=project.css.map */
